input {
  text-align: center;
  font: 16px 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #eee;
  border-radius: 5%;
}

